h1 {
    text-align: center;
    font-size: 40px;
    font-style: italic;
  }
  .container {
    text-align: inherit;
    text-indent: 2px;
    font-size: 20px;
    padding: 10px;
    font-variant: small-caps;
  }

  .finish {
    display: none;
  }
  .row {
    background-color: #34495e;
    color: black;
  }
  #cheer {
    color: #3a5b79;
  }

  body{
    background-color:skyblue;
    font-family: sans-serif;
    }
    .btn {
    border: none;
    background-color: purple;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  .btn:hover {background: #eee;}
    @media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%;
