h1 {
    text-align: center;
    font-size: 40px;
    font-style: italic;
  }
  .container {
    text-align: inherit;
    text-indent: 2px;
    font-size: 20px;
    padding: 10px;
    font-variant: small-caps;
  }
  .clickable {
    color: #3a5b79;
    font-style: italic;
    cursor: pointer;
  }
  .clickable:hover {
    text-decoration: underline;
  }

  .finish {
    display: none;
  }
  .row {
    background-color: #34495e;
    color: black;
  }
  #cheer {
    color: #3a5b79;
  }

  body{
    background-color:skyblue;
    font-family: sans-serif;
    }
  .button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: green;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
    @media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%;
