h1 {
    text-align: center;
    font-size: 69px;
    font-style: italic;
  }
  body{
    background-image: url(image/background.jpg);
    font-family: sans-serif;
    font-style: normal;
  }
  .jumbotron {
  text-decoration: inherit;
  }
